.about {
  padding: 50px;
  background-image: url('../assets/cancer.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); 
  z-index: 1; 
}

.about-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); 
  z-index: 2; 
}

.about-content {
  flex: 1;
  margin-right: 20px;
}

.about-image {
  flex: 1;
  max-width: 400px;
  border-radius: 10px;
}

.about-content h2 {
  color: #ef2266;
  font-size: 2em;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2em;
  line-height: 1.5;
}
