.survivor-stories {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.survivor-stories h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.stories-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.story-card {
    width: 250px; 
    height: 250px; 
    margin: 15px; 
    padding: 20px;
    border-radius: 15px;
    background: #E6E6FA; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    overflow: hidden; 
}

.story-card:hover {
    transform: scale(1.05); 
}

.story-name {
    font-weight: bold; 
    font-size: 1.3em; 
    margin-bottom: 10px; 
}

.story-text {
    font-weight: normal; 
    font-size: 1em; 
    color: #333; 
    max-height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
}

.examination-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #ef2266;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.examination-btn:hover {
    background-color: #d91e5f;
}
